.list{
    position: fixed;
    top : 0px;
    right: 0px;
    height: 100vh;
    width: 20%;
    z-index: 9000;
    background-color: antiquewhite;
    overflow: auto;

}

.list>h5{
    margin: 0.5rem;
}
.nav {
    position: fixed;
    bottom : 1rem;
    right: 1rem;
}

.nav>*{
    margin: 0.25rem;
}